@import "../../assets/scss/core/variables";

.main-container {
    box-shadow: $shadow-basic;
    height: 100vh;
    transition: $transition-fast;
    &.menu-is-open {
        transform: scale(.9);
        filter: blur(3px);
    }
    .body-container {
        max-height: calc(100vh - 106px);
        overflow: hidden;
    }
    h1 {
        font-size: 25px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        color: $gray;
    }
}